@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$font-bold: Roboto, sans-sefrif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aquamarine;
    font-family: Roboto, sans-serif;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 45px;
}

nav ul li {
    list-style-type: none;
}